
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myDTAPLabel">Create or edit a DTAP</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="dTAP.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_levelName">LevelName</label>
            <input type="text" class="form-control" name="levelName" id="field_levelName"
                    ng-model="dTAP.levelName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_levelId">LevelId</label>
            <input type="number" class="form-control" name="levelId" id="field_levelId"
                    ng-model="dTAP.levelId"
                    required />
            <div ng-show="editForm.levelId.$invalid">
                <p class="help-block"
                    ng-show="editForm.levelId.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.levelId.$error.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
