
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myReservationLabel">Create or edit a Reservation</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="reservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startDate">StartDate</label>
            <input id="field_startDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="reservation.startDate" is-open="datePickerForStartDate.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForStartDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.startDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.startDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endDate">EndDate</label>
            <input id="field_endDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="reservation.endDate" is-open="datePickerForEndDate.status.opened"
            required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForEndDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
            <div ng-show="editForm.endDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.endDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_project">Project</label>
            <input type="text" class="form-control" name="project" id="field_project"
                    ng-model="reservation.project"
                    required ng-minlength="3" ng-maxlength="50" />
            <div ng-show="editForm.project.$invalid">
                <p class="help-block"
                    ng-show="editForm.project.$error.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.project.$error.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.project.$error.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="aria-label">Status</label>
            <rsrv-status reservation="reservation"></rsrv-status>
        </div>

        <div class="form-group">
            <label for="field_requestor">requestor</label>
            <select class="form-control" id="field_requestor" name="requestor" ng-model="reservation.requestor" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_appl">appl</label>
            <select class="form-control" id="field_appl" name="appl" ng-model="reservation.appl" ng-options="appl as appl.applName for appl in appls track by appl.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_environment">environment</label>
            <select class="form-control" id="field_environment" name="environment" ng-model="reservation.environment" ng-options="environment as environment.environmentDescription for environment in reservation.appl.compatibleEnvironmentss track by environment.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
