<div>
    <h2>Reservations</h2>
    <jh-alert-error></jh-alert-error>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-info" ui-sref="reservation" >
                    <span class="glyphicon glyphicon-th-list"></span>
                    <span
                        class="hidden-xs">Show List
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                    <label for="field_environment">environment</label>
                    <select class="form-control" id="field_environment" name="environment" ng-model="selectedEnv" ng-options="environment as environment.environment for environment in allEventSources track by environment.environmentId">
                        <option value=""></option>
                    </select>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10">
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
        </div>
        <div class="col-xs-2">
            <div class="panel panel-info">
                <div class="panel-heading">Legend</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li ng-repeat="legendItem in eventSources track by legendItem.environmentId" style="background-color:{{legendItem.color}}" class="list-group-item">{{legendItem.environment}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
